<div class="d-flex flex-column align-items-center">
  <form class="col-6 shadow p-3 rounded-3" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="searchInput" class="form-label" translate="pages.gift-certificate.list.search-box.search-input"></label>
      <input
        class="form-control"
        id="searchInput"
        [formControl]="searchForm"
      >
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="tagsSelect" class="form-label" translate="pages.gift-certificate.list.search-box.tags-select"></label>
          <app-multi-dropdown
            id="tagsSelect"
            [items]="tagItems"
            [showSearch]="tagsSelectShowSearch"
            [showAll]="tagsSelectShowAll"
            [showStatus]="tagsSelectShowStatus"
            [showError]="tagsSelectShowError"
            [placeholder]="tagsSelectPlaceholder"
          ></app-multi-dropdown>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3 d-block">
          <label for="sortSelect" class="form-label" translate="pages.gift-certificate.list.search-box.sort-select"></label>
          <app-multi-dropdown
            id="sortSelect"
            [items]="sortItems"
            [showSearch]="sortSelectShowSearch"
            [showAll]="sortSelectShowAll"
            [showStatus]="sortSelectShowStatus"
            [showError]="sortSelectShowError"
            [placeholder]="sortSelectPlaceholder"
          ></app-multi-dropdown>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-end">
      <div class="col-3">
        <button type="submit" class="btn btn-primary w-100" translate="pages.gift-certificate.list.search-box.search-button"></button>
      </div>
    </div>
  </form>
</div>
