<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="LogToRollingFile" fileName="logs/log.log"
                     filePattern="logs/archive/log-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d|%-5p|%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToRollingFile"/>
        </Root>
    </Loggers>
</Configuration>
