@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.home-page-font {
  font-family: 'Marck Script', cursive;
}

.home-page-title {
  font-size: 70px;
}

.home-page-subtitle {
  font-size: 50px;
}
