<div class="d-flex flex-column align-items-center">
  <div class="col-6" *ngIf="user">
    <div class="row mb-3">
      <div class="col-3">
        <div class="d-flex flex-column align-items-end">
          <img src="/assets/images/user-page-image.png" class="img-fluid">
        </div>
      </div>
      <div class="col-9 pt-5">
        <div class="row">
          <div class="col-3">
            <p class="fw-bold" translate="pages.user.email"></p>
          </div>
          <div class="col-9">
            <p>{{ user.login }}</p>
          </div>
          <hr>
        </div>

        <div class="row">
          <div class="col-3">
            <p class="fw-bold" translate="pages.user.name"></p>
          </div>
          <div class="col-9">
            <p>{{ user.name }}</p>
          </div>
          <hr>
        </div>

        <div class="row">
          <div class="col-3">
            <p class="fw-bold" translate="pages.user.address"></p>
          </div>
          <div class="col-9">
            <p>{{ user.address }}</p>
          </div>
          <hr>
        </div>

        <div class="row">
          <div class="col-3">
            <p class="fw-bold" translate="pages.user.phone"></p>
          </div>
          <div class="col-9">
            <p>{{ user.phone }}</p>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <h2 class="fw-bold" translate="pages.user.orders.list-name"></h2>
    <div class="row row-cols-1">
      <app-user-order-row *ngFor="let order of user.orders" [order]="order"></app-user-order-row>
    </div>
  </div>
</div>
